@using Syncfusion.EJ2
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - AlphaPilar</title>

        <environment names="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                  crossorigin="anonymous" />
            <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        </environment>
        <link rel="stylesheet" href="~/css/ej2/material.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <script src="~/js/ej2/ej2.min.js"></script>
        <script>
            function togglePassword() {
                var x = document.getElementById("password");
                var eye = document.getElementById("eye");
                console.log(x);
                  if (x.type === "password") {
                      x.type = "text";
                      eye.classList.add("alfapilar-blue");
                     
                  } else {
                      x.type = "password";
                       eye.classList.remove("alfapilar-blue");

                  }
            }
        
        </script>

        <style>
            .alfapilar-blue{
                color: #2f318b;
            }
        </style>


    </head>
    <body>
        <div class="col-lg-12 control-fluid" style="top:30vh">
            <div class="container-fluid">
                <form method="post">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="img-container" style="text-align:center">
                            <img src="~/images/alfapilar.png" />
                        </div>

                    </div>
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="col-xs-4 col-sm-6 col-lg-4 col-md-4">
                            <hr />
                        </div>
                    </div>


                    @if (ViewBag.error == "InvalidUsername")
                    {
                        <div class="row">
                            <div class="col-xs-12 col-sm-9 col-lg-8 col-md-8">
                            <span class="e-error float-right">Invalid username or password</span>

                            </div>
                        </div>
                    }


                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="col-xs-4 col-sm-6 col-lg-4 col-md-4">
                            <ejs-textbox id="username" placeholder="Username" floatLabelType="Auto"></ejs-textbox>
                            
                        </div>
                    </div>
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="col-xs-4 col-sm-6 col-lg-4 col-md-4">
                            <div class="e-float-input e-control-wrapper e-input-group">
                                <input id="password" class="e-control e-textbox e-lib" type="password" name="password" aria-labelledby="label_password">
                                <span class="e-float-line"></span>
                                <label class="e-float-text e-label-m" id="label_password" for="password">Password</label>
                                <span onclick="togglePassword()" class="e-input-group-icon"><i id="eye" class="material-icons">remove_red_eye</i></span>
                            </div>
                        </div>
                    </div>

                    <div class="row d-flex align-items-center justify-content-center" style="margin-top:20px">
                        <button asp-controller="Home" asp-action="Login" class="e-control e-btn e-lib">
                            Login
                        </button>
                    </div>
                </form>
                


            </div>
            </div>

            <environment names="Development">
                <script src="~/lib/jquery/dist/jquery.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
                <script src="~/js/site.js" asp-append-version="true"></script>
            </environment>
            <environment names="Staging,Production">
                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                        crossorigin="anonymous">
                </script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                        crossorigin="anonymous">
                </script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                        asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                        crossorigin="anonymous">
                </script>
                <script src="~/js/site.min.js" asp-append-version="true"></script>
            </environment>
            <ejs-scripts></ejs-scripts>
</body>

<script type="text/javascript">
    ej.base.enableRipple(true);
        var inputObject = {};
        var input = document.querySelectorAll('#password');
        var inputIcon = document.querySelectorAll('.e-input-group-icon');
        var focusFn = function (index) {
            return function () {
                getParentNode(input[index]).classList.add('e-input-focus');
            };
        };
        var blurFn = function (index) {
            return function () {
                getParentNode(input[index]).classList.remove('e-input-focus');
                if (input[0].value == "") {
                    document.getElementById("label_password").classList.remove("e-label-m");
                    document.getElementById("label_password").classList.add("e-label-bottom");
                    document.getElementById("label_password").classList.remove("e-label-top");

                } else {
                    document.getElementById("label_password").classList.remove("e-label-m");
                     document.getElementById("label_password").classList.add("e-label-top");
                    document.getElementById("label_password").classList.remove("e-label-bottom");
                    
                }
               
            };
        };
        var mouseupFn = function () {
            var ele = this; setTimeout(function () {
                ele.classList.remove('e-input-btn-ripple');
            }, 500);
        };
        for (var i = 0; i < input.length; i++) {
            input[i].addEventListener('focus', focusFn(i));
            input[i].addEventListener('blur', blurFn(i));
        }
        for (var j = 0; j < inputIcon.length; j++) {
            inputIcon[j].addEventListener('mousedown', function () {
                this.classList.add('e-input-btn-ripple');
            });
            inputIcon[j].addEventListener('mouseup', mouseupFn);
        }
        function getParentNode(element) {
            var parentNode = element.parentNode;
            if (parentNode.classList.contains('e-input-in-wrap')) {
                return parentNode.parentNode;
            }
            return parentNode;
        }
</script>




