@{
    ViewBag.Title = "PdfViewer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>PdfViewer Features:</h2>
<br/>
<li> Default</li>
<li> Theme - Bootstrap-Theme</li>
<br/>
<div style="width:100%;height:600px">
    <ejs-pdfviewer id="pdfviewer" style="height:600px" serviceUrl="/api/PdfViewer"></ejs-pdfviewer>
</div>
